<section class="kings">
  <h1 class="text-center bg-primary">Odemo of Isara</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('crown.jpg') %>"></div>
          <div class="card-action">
            <span class="king-card-title">ODEMO ONABAJO,</span>
            <span class="king-card-title">POKE-BI-OWULA</span>
            <span class="king-card-year">1941
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('crown.jpg') %>"></div>
          <div class="card-action">
            <span class="king-card-title">ODEMO SAMUEL AKISANYA,</span>
            <span class="king-card-title">AFONLADE II</span>
            <span class="king-card-year">1941 - 1985</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('crown.jpg') %>"></div>
          <div class="card-action">
            <span class="king-card-title">ODEMO (BARR.) ADEBOYE
            </span>
            <span class="king-card-title">OLADELE OSIDEINDE, IGAN II
            </span>
            <span class="king-card-year">1989 - 1994</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('crown.jpg') %>"></div>
          <div class="card-action">
            <span class="king-card-title">ODEMO (ENGR.) ADEBAYO IDOWU</span>
            <span class="king-card-title">ONADEKO OGUNSERE GBUKO II</span>
            <span class="king-card-year">1996 - 2007</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="baale">
  <h1 class="text-center bg-primary">Isara Baale And Baale Elects</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('ileke.png') %>"></div>
          <div class="card-action">
            <span class="king-card-title">BAALE JOHN ADESOYE</span>
            <span class="king-card-title">Baale of Irisa, Isara Remo</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('ileke.png') %>"></div>
          <div class="card-action">
            <span class="king-card-title">CHIEF AYOOLA ADEKUNLE</span>
            <span class="king-card-title">Baale Elect, Iyankan Legunsen II</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('ileke.png') %>"></div>
          <div class="card-action">
            <span class="king-card-title">CHIEF OLAITAN AWOBONA</span>
            <span class="king-card-title">Baale Elect, Itakate</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('ileke.png') %>"></div>
          <div class="card-action">
            <span class="king-card-title">CHIEF BENJAMIN BOLA ADEWALE</span>
            <span class="king-card-title">Baale Elect, Eluju</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="prominent-indigenes">
  <h1 class="text-center bg-primary">Isara Prominent Indigenes</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('sir-olaniyan.jpg') %>">
            <span class="card-title">Sir Olaniwun Ajayi</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="<%= asset_path('soyinks.jpg') %>">
            <span class="card-title">Wole Soyinka</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
